@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

#vid-ad, #features, #hero, #contact, #container1{
    border-bottom: 2px solid rgb(228, 225, 225);
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Roboto';
    scroll-behavior: smooth;
}
html, body{
    width: 100%;
    height: 100%;
    overflow-x: hidden;
}
#background{
    width: 100%;
    height: 100%;
}

/* ======================== header ============================= */
header{
    width: 100%;
    margin: 0 auto;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #fff;
    background-color: #002B5C;
}
header img{
    width: 3vw;
}
header a{
    font-size: 1.3vw;
    color: #fff;
    text-decoration: underline;
    font-family: tahoma, arial, helvetica, sans-serif;
}

/* ================= Navbar ============================= */
nav{
    display: flex;
    box-shadow: rgba(0, 0, 0, 0.15) 1.95px 1.95px 2.6px;
    align-items: center;
    padding: 0.6% 8%;
    justify-content: space-between;
}
nav img{
    width: 5vw;
}
nav #links{
    display: flex;
    gap: 2vw;    
    align-items: center;
}
nav #links a{
    text-decoration: none;
    color: #000;
    font-size: 1.5vw;
    transition: all 0.3s ease-in-out;
}
nav #links a:hover{
    color: #0066A1;
}
.mobile-navbar-btn {
    display: none;
    background: transparent;
    cursor: pointer;
  }
  
  .mobile-nav-icon {
    width: 30px;
    color: #212529;
  }
  
  .mobile-nav-icon[name="close-outline"] {
    display: none;
  }

/* ==================== hero ================== */
#hero{
    display: flex;
    justify-content: center;

    padding: 1% 2%;
    margin: auto;
    height: fit-content;
    /* height: calc(100vh - 83px); */
}
#hero .col1{
    padding: 1% 3%;
    flex-basis: 50%;
    margin: auto;
    width: fit-content;
}
#hero .col1 h1{
    color: #0066A1;
    font-size: 3vw;
    word-spacing: 5px;
}
#hero .col1 #model{
    color: #0066A1;
    font-family: 'Roboto';
    font-weight: 300;
    font-size: 2.3vw;
}
#hero .col1 div img{
    height: 1.5vw;
}
#hero .col1 p{
    font-size: 1.3vw;
    font-weight: 300;
    text-align: justify;
    word-spacing: 3px;
    width: 55vw;
}
.my-10{
    margin: 1vw 0;
}
#hero .col1 h3{
    font-size: 1.3vw;
}
#hero .col1 h2{
    font-size: 1.5vw;
}
#hero .col1 .links{
    display: flex;
    gap: 2vw;
    margin-top: 10px;
}
#hero .col1 .links .icon-box{
    border: 1px solid #000;
    padding: 10px 20px;
}
#hero .col2{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-basis: 30%;
    height: 80vh;
    /* height: 100%; */
    overflow-x: hidden;
    width: 30vw;
}

.col2 img{
    height: 100%;
    width: 50vw;
    box-shadow: none;
}
/* .col2 img{
    height: 33vw;
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;} */

/* ================= features =============== */
#features .row{
    display: flex;
    padding: 20px;
    width: fit-content;
    margin: 10px auto;
}
#features .row .img-box{
    display: flex;
    justify-content: center;
    align-items: center;
}
#features .row .img-box img{
    height: 22vw;
    border-radius: 20px;
}
#features .row .content-box{
    padding: 10px 20px;
    width: 35vw;
}
#features .row .content-box h2{
    color: #0066A1;
    text-align: justify;
    font-size: 2vw;
}
#features .row .content-box p{
    font-weight: 300;
    text-align: justify;
    font-size: 1.5vw;
    margin-top: 1vw;
    word-spacing: 0.6vw;
}

/* =================== vid-ad ==================== */
#vid-ad{
    padding: 1% 2%;
    display: flex;
    align-items: center;
    flex-direction: column;
}
#vid-ad h1{
    color: #0066A1;
    text-align: justify;
    font-size: 2vw;
    margin: 10px auto;
}
#vid-ad video{
    width: 70vw;
    height: fit-content;
}

/* ================== contact ================= */
#contact{
    padding: 1% 2%;
}
#contact div h1{
    font-weight: 400;
    font-size: 2.3vw;
}

#contact  > div{
    width: 65vw;
    margin: 0 auto;
} 

#contact div #container1{
    display: flex;
    gap: 1.4vw;
    margin: 29px auto;
    padding: 10px 0;
}
#contact div #container1 .info{
    display: flex;
    flex-direction: column;
    gap: 32px;
}
#contact div #container1 .info h2{
    font-weight: 400;
    font-size: 1.7vw;
    margin-bottom: 5px;
}
#contact div #container1 .info .box-1 #num{
    color: #0066A1;
}
#contact div #container1 .info p{
    font-size: 1.4vw;
    font-weight: 300;
}

#contact div #container2{
    display: flex;
    gap: 24px;
    margin: 29px auto;
}

#contact div #container2 .info h2{
    font-weight: 400;
    font-size: 1.7vw;
    margin-bottom: 10px;
}
#contact div #container2 .info h2 span{
    text-decoration: underline;
}

/* ================= newsletter ================= */
#newsletter{
    padding: 2% 2%;
    display: grid;
    place-items: center;
}
#newsletter  > div{
    width: 75%;
    margin: 0 auto;
} 
#newsletter div p img{
    width: 2.4vw;
}
#newsletter div h1{
    color: #0066A1;
    font-size: 2.9vw;
    word-spacing: 5px;
    font-weight: 300;
    margin-bottom: 10px;
}
#newsletter div p{
    display: flex;
    align-items: center;
    gap: 5px;
    font-size: 1.5vw;
    margin-bottom: 3px;
    font-weight: 300;
}
#newsletter #check-box{
    width: 60%;
    margin: 20px auto;
    word-spacing: 3px;
    font-size: 1.3vw;
}

#newsletter #check-box a{
    font-size: 1.3vw;
    color: #0066A1;
    text-decoration: underline;
    font-weight: bold;
    display: inline-block;
    margin-top: 5px;
}
#newsletter form{
    display: flex;
}
#newsletter form #email{
    outline: none;
    border-radius: 10px;
    border: 1px solid #A5A4A4;
    background: #FFF;
    padding: 10px 10px;
    min-width: 40vw;
    font-size: 1.5vw;
}
#newsletter form button{
    padding: 10px 10px;
    font-size: 1.5vw;
    border: none;
    background: #0066A1;
    color: #fff;
    border-radius: 10px;
}


/* footer */
footer{
    background-color: #002B5C;
    padding: 20px 0;
}
footer #links{
    width: fit-content;
    margin: 50px auto;
    display: flex;
    gap: 4vw;
    padding: 20px 20px;
    border-bottom: 1px solid #264261;
}
footer #links ul{
    list-style: none;
    display: flex;
    flex-direction: column;
    gap: 1.2vw;
}
footer #links ul li{
    font-weight: 300;
    font-size: 1.4vw;

}

footer #links ul li a{
    text-decoration: none;
    color: #fff;
    font-size: 1.4vw;
    font-weight: 300;
}
.b{
    font-weight: bold;
    color: #fff;
}

footer #socials{
    display: grid;
    place-items: center;
    gap: 1vw;
    color: #fff;
}
footer #socials ul{
    display: flex;
    list-style: none;
    gap: 24px;
}
footer #socials ul li a img{
    width: 3vw;
}


@media (max-width: 900px){
    header{
        padding: 3px 0;
    }
    header img{
        width: 7vw;
    }
    header a{
        font-size: 3vw;
    }

    /*============= nav ============ */
    nav{
        position: relative;
    }
    nav img{
        width: 9vw;
    }
    nav .navbar-list {
        /* display: none; */
        width: 100%;
        height: 100vh;
        background: #fff;
        position: fixed;
        top: 0;
        left: 0;
        z-index: 998;
        display: flex;
        /* padding-top: 20px; */
        justify-content: center;
        align-items: center;
    
        /* to get the tranisition  */
        transform: translateX(100%);
        transition: all 0.5s linear;
    
        opacity: 0;
        visibility: hidden;
        pointer-events: none;
      }
      .mobile-navbar-btn {
        display: block;
        z-index: 999;
        /* border: 3px solid #212529; */
        color: #212529;   
        display: flex;     
      }
      .mobile-nav-icon img{
        height: 30px;
      }
      nav .navbar-list #links{
        flex-direction: column;
      } 
      nav .navbar-list #links a{
        color: #000;
      }
      .active .navbar-list {
        transform: translateX(0);
        opacity: 1;
        visibility: visible;
        pointer-events: auto;
      }
    
      .active .mobile-navbar-btn .mobile-nav-icon[name="close-outline"] {
        display: block;
      }
    
      .active .mobile-navbar-btn .mobile-nav-icon[name="menu-outline"] {
        display: none;
      }
    nav #links a{
        color: #fff;
        font-size: 3vw;
        display: block;
        padding: 2px;
        border-bottom: 1px solid #395d86;
        transition: all 0.3s ease-in-out;
    }
    nav #links div{
        display: flex;
    }
    nav #links a:hover{
        color: #0066A1;
    }
    .show{
        left: 100%;
    }

    /* =============== hero section ==================== */
    #hero{
        padding: 1% 2%;
        /* height: calc(100vh - 83px); */
        height: fit-content;

        position: relative;
    }
    #hero .col1{
        flex-basis: 60%;
    }
    #hero .col1 h1{
        font-size: 4.5vw;
        font-weight: 700;
        word-spacing: 2px;
    }
    #hero .col1 #model{
        font-size: 3.4vw;
        margin-left: 2px;
    }
    #hero .col1 div img{
        height: 3vw;
    }
    #hero .col1 p{
        font-size: 2vw;
        word-spacing: 4px;
        width: 85%;
    }
    .my-10{
        margin: 1.5vw 0;
    }
    #hero .col1 h3{
        font-size: 2.4vw;
    }
    #hero .col1 h2{
        font-size: 2.4vw;
    }
    #hero .col1 .links{
        gap: 2vw;
        margin-top: 1.9vw;
    }
    #hero .col1 .links .icon-box{
        border: 1px solid #000;
        padding: 10px 20px;
    }
    #hero .col2{
        flex-basis: 30%;
        margin: auto;
        height: 80%;
    }
    
    .col2 img{
        height: 100%;
        width: 100%;
    }

    /* ============ features ================= */
    #features{
        display: grid;
    }
    #features .row{
        margin: 2vw auto;
        width: fit-content;
    }
    
    #features .row .img-box img{
        height: 29vw;
        border-radius: 15px;
    }
    #features .row .content-box{
        width: 40vw;
    }
    #features .row .content-box h2{
        font-size: 2.5vw;
    }
    #features .row .content-box p{
        font-weight: 400;
        font-size: 2vw;
        word-spacing: 0.3vw;
    }

    /* ================== vid section ============= */
    #vid-ad{
        justify-content: center;
        padding: 3vw;
    }
    #vid-ad h1{
        font-size: 2.8vw;
        margin-top: 1.3vw;
    }
    #vid-ad video{
        width: 80vw;
        height: fit-content;
    }
    /* ================== contact ================= */
    #contact div h1{
        font-weight: 400;
        font-size: 3.5vw;
    }
    
    #contact  > div{
        width: 80vw;
        padding: 2vw;
    } 
    
    #contact div #container1{
        gap: 3vw;
        margin: 2vw auto;
        padding: 2vw 0;
    }
    #contact div #container1 .info{
        gap: 2vw;
    }
    #contact div #container1 .info h2{
        font-size: 2.8vw;
        margin-bottom: 8px;
    }
    #contact div #container1 .info p{
        font-size: 2vw;
        width: 95%;
    }
    
    #contact div #container2{
        align-items: center;
        gap: 3vw;
        margin: 0;
    }
    
    #contact div #container2 .info h2{
        font-size: 2.7vw;
    }
    #contact div #container2 .info p{
        font-weight: 300;
    }
    /* ================= newsletter ================= */
    #newsletter{
        padding: 2% 2%;
    }
    #newsletter  > div{
        width: 75vw;
    } 
    #newsletter div h1{
        font-size: 3.5vw;
        word-spacing: 3px;
    }
    #newsletter div p{
        gap: 1vw;
        font-size: 2.5vw;
    }
    #newsletter #check-box{
        width: 55vw;
        margin: 20px auto;
        word-spacing: 3px;
        font-size: 2vw;
        text-align: justify;
    }
    #newsletter #check-box #chkApple{
        height: 2.5vw;
        width: 2.5vw;
    }

    #newsletter #check-box a{
        font-size: 2.2vw;
    }
    #newsletter form #email{
        font-size: 2.2vw;
    }
    #newsletter form button{
        font-size: 2.2vw;
    }


    /* footer */
    footer #links{
        margin: 30px auto;
        gap: 2.9vw;
    }
    footer #links ul{
        gap: 1.8vw;
    }
    footer #links ul li{
        font-size: 2.1vw;
    }

    footer #links ul li a{
        font-size: 2.1vw;
    }
    footer #socials h3{
        font-size: 2.5vw;
    }
    footer #socials ul{
        gap: 2.5vw;
    }
    footer #socials ul li a img{
        width: 6vw;
    }
    
}
@media (max-width: 720px){
    
    header img{
        width: 5vw;
    }
    header a{
        font-size: 2.5vw;
    }

    /* =============== hero section ==================== */
    #hero{
        gap: 1vw;
        position: relative;
    }
    #hero .col1{
        width: fit-content;
        padding: 10px 10px;
    }
    #hero .col1 h1{
        font-size: 4vw;
    }
    #hero .col1 #model{
        font-size: 3.2vw;
    }
    #hero .col1 p{
        font-size: 2.2vw;
        width: 95%;
    }
    
    #hero .col1 h3{
        font-size: 2.4vw;
    }
    #hero .col1 h2{
        font-size: 2.4vw;
    }
    #hero .col1 .links{
        gap: 1vw;
    }
    #hero .col1 .links .icon-box{
        border: 1px solid #000;
        padding: 8px 13px;
    }
    #hero .col2{
        height: 80%;
    }
    
    .col2 img{
        height: 100%;
        width: 33vw;
        box-shadow: none;
    }

    /* ============ features ================= */
    
    #features .row .img-box img{
        border-radius: 10px;
    }
    #features .row .content-box{
        width: 40vw;
    }
    #features .row .content-box p{
        font-weight: 300;
        font-size: 2vw;
        word-spacing: 0.3vw;
    }

    /* ================== vid section ============= */
   
    #vid-ad h1{
        font-size: 2.7vw;
    }
    
    /* ================== contact ================= */
    #contact div h1{
        font-weight: 400;
        font-size: 3.2vw;
    }
    
    #contact  > div{
        width: 85vw;
    } 
    #contact img{
        width: 10vw;
    }

    #contact div #container1 .info h2{
        font-size: 3vw;
        margin-bottom: 5px;
    }
    #contact div #container1 .info p{
        font-size: 2.2vw;
        width: 95%;
    }
    
    #contact div #container2{
        align-items: center;
        gap: 3vw;
        margin: 0;
    }
    #contact div #container2 .info h2{
        font-size: 2.7vw;
        margin-bottom: 5px;
    }
    #contact div #container2 .info p{
        font-weight: 300;
        font-size: 2.5vw;
    }
    /* ================= newsletter ================= */
    #newsletter  > div{
        width: 85vw;
    } 
    #newsletter div h1{
        font-size: 3.2vw;
        word-spacing: 0.2vw;
    }
    
    #newsletter div p img{
        width: 3.5vw;
    }
    #newsletter div p{
        font-size: 2.5vw;
    }
    #newsletter #check-box{
        width: 60vw;
        word-spacing: 0.2vw;
        font-size: 2.3vw;
        text-align: justify;
    }
    #newsletter #check-box #chkApple{
        height: 2.5vw;
        width: 2.5vw;
    }

    #newsletter #check-box a{
        font-size: 2.3vw;
        display: block;
    }
    #newsletter form #email{
        font-size: 2.3vw;
    }
    #newsletter form button{
        font-size: 2.3vw;
    }


    /* footer */
    footer #links{
        width: fit-content;
        margin: auto;
    }
    footer #links ul li{
        font-size: 2.2vw;
    }
    footer #links ul li a{
      font-size: 2.2vw;
    }
    footer #links ul li a:hover{
        border-bottom: 1px solid #495b70;
    }
    footer #socials h3{
        font-size: 2.5vw;
        font-weight: 500;
        margin-bottom: 2px;
    }
    footer #socials ul li a img{
        width: 5vw;
    }
}