@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

#vid-ad, #features, #hero, #contact, #container1{
    border-bottom: 2px solid rgb(228, 225, 225);
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Roboto';
    scroll-behavior: smooth;
}
html, body{
    width: 100%;
    height: 100%;
}
#background{
    width: 100%;
    height: 100%;
}

/* ======================== header ============================= */
header{
    width: 100%;
    margin: 0 auto;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #fff;
    background-color: #002B5C;
}
header img{
    width: 3vw;
}
header a{
    font-size: 1.3vw;
    color: #fff;
    text-decoration: underline;
    font-family: tahoma, arial, helvetica, sans-serif;
}

/* ================= Navbar ============================= */
nav{
    display: flex;
    box-shadow: rgba(0, 0, 0, 0.15) 1.95px 1.95px 2.6px;
    align-items: center;
    padding: 0.6% 8%;
    justify-content: space-between;
}
nav img{
    width: 3vw;
}
nav #links{
    display: flex;
    gap: 24px;    
}
nav #links a{
    text-decoration: none;
    color: #000;
    font-size: 18px;
    transition: all 0.3s ease-in-out;
}
nav #links a:hover{
    color: #0066A1;
}

/* ==================== hero ================== */
#hero{
    display: flex;
    padding: 1% 2%;
    justify-content: center;
    width: fit-content;
    margin: auto;
}
#hero .col1{
    padding: 4% 3%;
    flex-basis: 50%;
}
#hero .col1 h1{
    color: #0066A1;
    font-size: 40px;
    word-spacing: 5px;
}
#hero .col1 #model{
    color: #0066A1;
    font-family: 'Roboto';
    font-weight: 300;
    font-size: 30px;
}
#hero .col1 div img{
    height: 22px;
}
#hero .col1 p{
    font-size: 18px;
    font-weight: 300;
    text-align: justify;
    word-spacing: 3px;
}
.my-10{
    margin: 10px 0px;
}
#hero .col1 h3{
    font-size: 18px;
}
#hero .col1 h2{
    font-size: 22px;
}
#hero .col1 .links{
    display: flex;
    gap: 24px;
    margin-top: 10px;
}
#hero .col1 .links .icon-box{
    border: 1px solid #000;
    padding: 10px 20px;
}
#hero .col2{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-basis: 30%;
    padding: 6vw 2vw;
    height: 80vh;
}

.col2 img{
    height: 70vh;
    margin: auto;
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;}

.prev, .next{
    color: #002B5C;
}

/* ================= features =============== */
#features .row{
    display: flex;
    padding: 20px;
    width: fit-content;
    margin: 10px auto;
}
#features .row .img-box{
    display: flex;
    justify-content: center;
    align-items: center;
}
#features .row .img-box img{
    height: 300px;
    border-radius: 20px;
}
#features .row .content-box{
    padding: 10px 20px;
    width: 500px;
}
#features .row .content-box h2{
    color: #0066A1;
    text-align: justify;
    font-size: 28px;
}
#features .row .content-box p{
    font-weight: 300;
    text-align: justify;
    font-size: 18px;
    margin-top: 10px;
    word-spacing: 5px;
}

/* =================== vid-ad ==================== */
#vid-ad{
    padding: 1% 2%;
    display: flex;
    align-items: center;
    flex-direction: column;
}
#vid-ad h1{
    color: #0066A1;
    text-align: justify;
    font-size: 28px;
    margin: 10px auto;
}

/* ================== contact ================= */
#contact{
    padding: 1% 2%;
}
#contact div h1{
    font-weight: 400;
    font-size: 28px;
}

#contact  > div{
    width: 75%;
    margin: 0 auto;
} 

#contact div #container1{
    display: flex;
    gap: 24px;
    margin: 29px auto;
    padding: 10px 0;
}
#contact div #container1 .info{
    display: flex;
    flex-direction: column;
    gap: 32px;
}
#contact div #container1 .info h2{
    font-weight: 400;
    font-size: 24px;
    margin-bottom: 5px;
}
#contact div #container1 .info .box-1 #num{
    color: #0066A1;
}
#contact div #container1 .info p{
    font-size: 18px;
    font-weight: 300;
}

#contact div #container2{
    display: flex;
    gap: 24px;
    margin: 29px auto;
}

#contact div #container2 .info h2{
    font-weight: 400;
    font-size: 24px;
    margin-bottom: 10px;
}
#contact div #container2 .info h2 span{
    text-decoration: underline;
}


#newsletter{
    padding: 2% 2%;
    display: grid;
    place-items: center;
}
#newsletter  > div{
    width: 75%;
    margin: 0 auto;
} 
#newsletter div h1{
    color: #0066A1;
    font-size: 40px;
    word-spacing: 5px;
    font-weight: 300;
    margin-bottom: 10px;
}
#newsletter div p{
    display: flex;
    align-items: center;
    gap: 5px;
    font-size: 20px;
    margin-bottom: 3px;
    font-weight: 300;
}
#newsletter #check-box{
    width: 60%;
    margin: 20px auto;
    word-spacing: 3px;
    font-size: 16px;
}

#newsletter #check-box a{
    font-size: 16px;
    color: #0066A1;
    text-decoration: underline;
    font-weight: bold;
    display: inline-block;
    margin-top: 5px;
}
#newsletter form{
    display: flex;
}
#newsletter form #email{
    outline: none;
    border-radius: 10px;
    border: 1px solid #A5A4A4;
    background: #FFF;
    padding: 10px 10px;
    min-width: 300px;
    font-size: 16px;
}
#newsletter form button{
    padding: 10px 10px;
    font-size: 16px;
    border: none;
    background: #0066A1;
    color: #fff;
    border-radius: 10px;
}


/* footer */
footer{
    background-color: #002B5C;
    padding: 20px 0;
}
footer #links{
    width: fit-content;
    margin: 50px auto;
    display: flex;
    gap: 64px;
    padding: 20px 20px;
    border-bottom: 1px solid #264261;
}
footer #links ul{
    list-style: none;
    display: flex;
    flex-direction: column;
    gap: 15px;
}
footer #links ul li{
    font-weight: 300;
}

footer #links ul li a{
    text-decoration: none;
    color: #fff;
    font-size: 18px;
    font-weight: 300;
}
.b{
    font-weight: bold;
    color: #fff;
}

footer #socials{
    display: grid;
    place-items: center;
    gap: 10px;
    color: #fff;
}
footer #socials ul{
    display: flex;
    list-style: none;
    gap: 24px;
}
footer #socials ul li a img{
    width: 40px;
}